@model IEnumerable<ShoppingCart.Application.ViewModels.OrderDetailsViewModel>

@foreach (var o in Model)
{
    
    @if (User.IsInRole("Admin"))
    {
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body ">
                    <h5 class="card-title">Date Placed : @o.Order.DatePlaced</h5>
                    <p class="card-text"> User Email : @o.Order.UserEmail</p>
                    <ul class="list-group list-group-flush">
                        @foreach (var m in Model)
                        {
                            if (m.Order.Id == o.Order.Id)
                            {
                                <li class="list-group-item">Product : @m.Product.Name</li>
                                <li class="list-group-item">Price : € @m.Product.Price</li>
                                <li class="list-group-item">Quantity : @m.Quantity</li>
                            }
                        }
                    </ul>
                    @if (User.IsInRole("Admin"))
                    {
                        <a href="/OrderDetails/Delete?id=@o.Order.Id" class="list-group-item text-danger">Delete</a>
                    }
                </div>
            </div>
        </div>

        }
    }

